body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-right: 1rem;
  }
  
  header nav a {color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  
  main section {
    flex-basis: 30%;
    margin-bottom: 1rem;
  }
  
  main section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  main section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main section li {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  main section li span {
    margin-left: 1rem;
  }
  
  .progress-bar {
    height: 1rem;
    background-color: #333;
  }
  
#achievement {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#achievement h2 {
  margin-bottom: 1rem;
}

.achievement-image {
  width: 48px;
  max-width: 200px;
  margin-bottom: 1rem;
  margin-right: 5px;
}

#achievement ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#achievement li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

#achievement li:last-child {
  border-bottom: none;
}

#achievement h3 {
  margin: 0;
  flex-basis: 30%;
}

#achievement p {
  margin: 0;
  flex-basis: 70%;
  text-align: right;
}
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }