html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

  html, body {
    height: 100%;
}

body {
    background: #f6f6f6; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem; /* 14px */
    line-height: 1.4;
}

  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-right: 1rem;
  }
  
  header nav a {color: #fff;
    text-decoration: none;
  }

  /* links */
a {
    color: #3c8453;
}
a:hover {
    color: #bcaa96;
    text-decoration: none;
}
footer a {
    color: #f843f8; font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    color: #0ef1a4; font-weight: bold;
    text-decoration: none;
}

  /* HOME
------------------------------------*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}
@media screen and (max-width: 650px) {
    .home .content-wrapper {
        padding: 10px;
    }
    .content-bg {
        padding: 20px;
    }
}
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
  
  main section {
    flex-basis: 30%;
    margin-bottom: 1rem;
  }
  
  main section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  main section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main section li {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  main section li span {
    margin-left: 1rem;
  }
  
  /* Progress Bar */
  .progress-bar {
    height: 1.5rem;
    background-color: rgb(14, 241, 164);
    border-radius: 1.6rem;
    color: white;
    font-size: 18px;
  }
  
  .progress-overview {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }


  .progress-overview-item {
    flex: 1;
  }

  .progress-overview-item span {
    font-size: 20px;
  }

  .circlePercent {
    position: relative;
    margin: 30px auto;
    margin-bottom: 40px;
    margin-right: 50px;
    /* top: 20px; */
    left: 0;
    bottom: 30px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgb(14, 241, 164);
  }
  .circlePercent:before,
  .circlePercent > .progressEnd {
    position: absolute;
    z-index: 3;
    top: 2px;
    left: 45px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    -ms-transform-origin: 3px 46px;
    transform-origin: 3px 46px;
    content: "";
  }
  .circlePercent:after,
  .circlePercent > .progress {
    position: absolute;
    -ms-transform-origin: 48px 48px;
    transform-origin: 48px 48px;
    z-index: 0;
    top: 0;
    left: 0;
    width: 48px;
    height: 96px;
    border-radius: 48px 0 0 48px;
    background: rgb(14, 241, 164);
    content: "";
  }
  .circlePercent.fiftyPlus:after {
    background: white;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .circlePercent > .progress.progress {
    background: white;
  }
  .circlePercent > .counter {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 50%;
    border: 4px solid rgb(14, 241, 164);
  }
  .circlePercent > .counter:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -13px;
    width: 100%;
    height: 26px;
    font-size: 26px;
    line-height: 26px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    content: attr(data-percent) "%";
  }
  .circlePercent > .counter:after {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background: rgb(14, 241, 164);
    content: "";
  }
  .circlePercent > .counter[data-percent="100"] {
    background: white;
  }
 

  /* Skill */
  
  #skills h2 {
    margin-bottom: 1rem;
  }
  
  .skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill {
    display: flex;
    height: 130px;
    /* align-items: center; */
    margin-bottom: 1rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    padding: 1rem;
  }
  
  .skill-header {
    flex: 1;
  }
  
  .skill-header h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .skill-header p {
    font-size: 13px;
    margin-right: 30px;
    height: 75px; 
    overflow: hidden;
  }
  
  .skill-progress {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #ddd;
    position: relative;
    margin: 0 1rem;
  }
  
  .progress {
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .skill-actions {
    display: flex;
    align-items: center;
  }
  
  .skill-actions p {
    margin-right: 1rem;
  }
  
  .skill-actions a {
    /* display: inline-block; */
    position: relative;
    bottom: 0;
    padding: 0.5rem 1rem;
    background-color: rgb(41, 45, 44);
    opacity: 0.8;
    color: #fff;
    font-size: 15px;
    border-radius: 0.25rem;
    text-decoration: none;
    align-self: flex-end; /* Added property */
  }
  
  .skill-actions a:hover {
    background-color: #444;
  }

  /* Opportunity */
  .btn {
    background: rgb(41, 45, 44);
    /* background: rgb(14, 241, 164);; */
    opacity: 0.8;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 16px;
}

.btn:hover {
    /* background: #444; */
    background: #0dc475;
    opacity: 1.2;
    color: white;
    text-decoration: none;
}

.opprtunity p{
  font-size: 15px;
}
.opprtunity h5{
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: bold;
}
.opprtunity-item{
    margin: 15px 0;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    padding: 10px;
}
.opprtunity-item img{
    height: 105px;
    width: 150px;
}
.opprtunity-item .btn{
    margin-bottom: 5px;
}

.opprtunity-item li{
    font-size: 12px;
    margin-bottom: 5px;
}

@media screen and (min-width: 860px) { 
    .opprtunity-item{
        display: flow-root; /* we dont need the flow for < 860px screen */
    }
    .opprtunity-item img{
        float: left; /* we dont need the float for < 860px screen */
        margin-right: 10px;
    }
}
/* only show grid for screen size between 650px to 859px */
@media screen and (min-width: 650px) and (max-width: 859px) { /* using 859px to avoid conflict with the above media query */
    .opprtunity-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .opprtunity-item img{ 
        width: 100%; /* make the image full width with the container */
    }
}

/* only show default (width:300px)(class .opprtunity-item img)
* for screen size between 500px to 649px 
* because the  layout is suitable for this screen size */

/* show full width for screen size < 500px */
@media screen and (max-width: 500px) { 
    .opprtunity-item img{
        width: 100%; 
        margin-bottom: 10px;
    }
    
}
  
  /* Achievement */
#achievement {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

#achievement h2 {
  margin-bottom: 1rem;
}

#achievement h3 {
  margin: 0;
  flex-basis: 30%;
  font-size: 14px;
  font-weight: 600;
}

.achievement-image {
  width: 80px;
  max-width: 200px;
  margin-bottom: 1rem;
  margin-right: 12px;
}

#achievement ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#achievement li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-bottom: none;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

#achievement li:last-child {
  border-bottom: none;
}

#achievement p {
  margin: 0;
  margin-right: 10px;
  flex-basis: 70%;
  font-size: 12px;
  text-align: right;
}
  

/* FOOTER
------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
}
footer p{
    padding: 0 10px;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    /* filter: brightness(0.8); */
    opacity: 0.8;
}

@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
}
/* only show center align for screen size < 500px */
@media screen and (max-width: 500px) {
    footer {
        text-align: center;
        padding: 10px;
    }  
}
