body {
    background: #f6f6f6; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem; /* 14px */
    line-height: 1.4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.selected {
    background-color: #ff0fb0;
    color: #fff;
}

button span {
    margin-right: 5px;
}

#nextButton {
    font-weight: bold;
    background-color: #0ef1af;
}
button.selected {
    background-color: #f843f2;
    color: #fff;
  }