body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.info {
    margin: auto;
    text-align: center;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e0e0e0;
    position: relative;
    flex-grow: 1;
    margin: 0 10px;
}

.progress-fill {
    background-color: rgb(14, 241, 164);
    height: 100%;
    width: 0%;
    transition: width 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    max-width: 200px;
    height: auto;
    margin-bottom: 80px;
    margin-top: 60px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.options button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.true {
    background-color: #4caf50;
    color: white;
}

.false {
    background-color: #f44336;
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-message {
    font-size: 18px;
    margin-bottom: 10px;
}

.popup-close {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    color: white;
    cursor: pointer;
}