html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

  html, body {
    height: 100%;
}

body {
    background: #f6f6f6; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem; /* 14px */
    line-height: 1.4;
}

  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-right: 1rem;
  }
  
  header nav a {color: #fff;
    text-decoration: none;
  }

  /* links */
a {
    color: #3c8453;
}
a:hover {
    color: #bcaa96;
    text-decoration: none;
}
footer a {
    color: #f843f8; font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    color: #0ef1a4; font-weight: bold;
    text-decoration: none;
}